<body>
    <div id="scene">
        <div data-depth="0.2">My first Layer!</div>
        <div data-depth="0.6">My second Layer!</div>
    </div>
    
    <div class = "container">
        <div class="parallax-window" data-parallax="scroll" data-image-src="src\assets\inprogress.jpg"></div>
        <span class="text display">My Name is <span class="highlighted-text">Abieshek Subramaniam</span>.</span>
    </div>

    <script>
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(scene);
    </script>
    
</body>

<router-outlet></router-outlet>
