<!doctype html>
<html>
    <body>
        <!-- Parallax Background -->
        <section>  
            <img src="assets\1.png" id = "layer1">
            <img src="assets\2.png" id = "layer2">
            <img src="assets\3.png" id = "layer3">
            <img src="assets\4.png" id = "layer4">
            <img src="assets\5.png" id = "layer5">
            <img src="assets\bird.gif" id = "bird">
            <h2 id="tw1"></h2>
        </section>

        <img src="assets\animatedArrow.gif" id = "arrow">

        <div class="timeline">
            <div class="container left-container">
                <img src="assets\gtLogo.png" id = "logo">
                <div class="text-box">
                    <h2>Georgia Tech Student</h2>
                    <small>2018-2022</small>
                    <p>I attended Georgia Institute of Technology and completed a 
                        Bachelors of Science in Computer Science.</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>

            <div class="container right-container">
                <img src="assets\gtLogo.png" id = "logo">
                <div class="text-box">
                    <h2>Team Project Lead</h2>
                    <small>2020-2021</small>
                    <p>I completed embedded Research for GT in C and worked with
                        FPGAs.</p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>

            <div class="container left-container">
                <img src="assets\cognizantLogo.png" id = "logo">
                <div class="text-box">
                    <h2>Full Stack Software Developer</h2>
                    <small>2022-2023</small>
                    <p>I worked as a full stack developer while using technologies
                        such as Java, Spring, and Angular.</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>




        </div>
    </body>
</html>


<router-outlet></router-outlet>

<!--
    TEST IMAGES
            <img src="assets\bg.jpg" id = "bg">
            <img src="assets\moon.png" id = "moon">
            <img src="assets\mountain.png" id = "mountain">
            <img src="assets\road.png" id = "road">
-->