@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background: #0a2a43;
    min-height: 6000px;
}

/********************************************City Section******************************* */
#sky {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#sky:before {
    
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1000;
}

#sky:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*  background: #0a2a43; */
    z-index: 3000;
    /*  mix-blend-mode: color; */
}

#sky img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    width: auto;
    height: 10.1vh;
    z-index: 2000;
    overflow: visible;
    margin: auto;
    transform: rotate(90deg) translate(0,50%);
}

/* Typewriter Text */
#tw1 {
    position: relative;
    color:#ccc;
    font-size: 4.2vw;
    font-weight: 600;
    z-index: 1;
    display: inline-block;
    padding: 0.5vw 1vw;
 
}

#layer5 {
    z-index: 4;
}

#layer4 {
    z-index: 2;
}





/********************************************Mountain Section******************************* */
#city {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

#city:before {
    
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1000;
}

#city:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*  background: #0a2a43; */
    z-index: 3000;
    /*  mix-blend-mode: color; */
}

#city .background2images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#city .timeline {
    position: absolute;
    top:2vh;
    max-width: 100vw;
    padding: 2.2vh 2.2vw;
}

#city #bird {
    top: 5.1vh;
    left: 80.6vw;
    width: 10.1vw;
    height: 10.1vh;
    z-index: 3;
    overflow: visible;
    transform: scaleX(-1);
}


.container {
    padding: 2.2vh 4.7vw;
    position: relative;
    width: 50%;

    /* animation: animatemovedown 1s linear forwards;
    opacity: 0;*/
    
    z-index: 1;
    
}


@keyframes animatemovedown {
    0%{
        opacity: 1;
        transform: translateY(-10vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay:0s;
}
.container:nth-child(2) {
    animation-delay:1s;
}
.container:nth-child(3) {
    animation-delay:2s;
}
.container:nth-child(4) {
    animation-delay:3s;
}

.text-box {
    padding: 2.2vw 2.2vh;
    border-style: groove;
    position: relative;
    border-radius: 60px;
    font-size: 2vh;
    color:white;
        
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

 #logo {
    position: absolute;
    width: 5vw;
    border-radius: 50%;
    right: -2.6vw;
    top: 5vh;
    z-index: 3;
}

.right-container #logo {
    left: -2.6vw;
}

.timeline:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: .2vw;
    height: 100%;
    background: white;
    margin-left: -0.15vw;
    z-index: 0;
    /* animation: animateline 3s linear forwards; */
}

@keyframes animateline {
    0% {
        height: 0;
        
    }
    100% {
        height: 100%;
    }
}



@media screen and (max-width: 1000px) {

    .timeline:after{
        left: 6.8vw;
    }
    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 4vw;
        border-radius: 50px;
        
    }
    .text-box small{
        margin-bottom: 1;
    }
    .right-container {
        left: 0;
    }
    .right-container #logo {
        left: 2.6vw;
    }
    .left-container #logo {
        left: 2.6vw;
    }


}