<!doctype html>
<html>
    <body>
        <!-- Sky Section -->

        <section id="sky">  
            <img src="assets\sky1.png" id = "layer1">
            <img src="assets\sky2.png" id = "layer2">
            <img src="assets\sky3.png" id = "layer3">
            <img src="assets\sky4.png" id = "layer4">
            <h2 id="tw1"></h2>
        </section>

        <img src="assets\animatedArrow.gif" id = "arrow">

        <!-- City Section -->
        <section id="city">
            <div class="background2images">
                <img src="assets\1.png" id = "image2-layer1">
                <img src="assets\2.png" id = "image2-layer2">
                <img src="assets\3.png" id = "image2-layer3">
                <img src="assets\4.png" id = "image2-layer4">
                <img src="assets\5.png" id = "image2-layer5">

                <img src="assets\bird.gif" id = "bird">
            </div>


            <div class="timeline">
                <div class="container left-container">
                    <img src="assets\gtLogo.png" id = "logo">
                    <div class="text-box">
                        <h2>Georgia Tech Student</h2>
                        <small>2018-2022</small>
                        <p>I attended Georgia Institute of Technology and completed a 
                            Bachelors of Science in Computer Science.</p>
                    </div>
                </div>
    
                <div class="container right-container">
                    <img src="assets\gtLogo.png" id = "logo">
                    <div class="text-box">
                        <h2>Team Project Lead</h2>
                        <small>2020-2021</small>
                        <p>I completed embedded Research for GT in C and worked with
                            FPGAs.</p>
                    </div>
                </div>
    
                <div class="container left-container">
                    <img src="assets\cognizantLogo.png" id = "logo">
                    <div class="text-box">
                        <h2>Full Stack Software Developer</h2>
                        <small>2022-2023</small>
                        <p>I worked as a full stack developer while using technologies
                            such as Java, Spring, and Angular.</p>
                    </div>
                </div>
            </div>

        </section>
        
    </body>
</html>

<router-outlet></router-outlet>
